#main-container {
    width: 100vw;
    height: fit-content;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) ), url("../media/grilled-chicken.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 8rem 3em;

    position: relative;
    .nav {
        width: 100%;
        position: absolute;
        top: 6%;
        left: 0;
        padding-inline: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-size: 30px;
            font-style: italic;
            color: getColor(color02);
            @include screen4 {
                font-size: 26px;
            }
            span {
                color: getColor(color06);
                @include screen4 {
                    font-size: 26px;
                }
            }
        }
        ul {
            display: flex;
            gap: 15px;
            @include screen5 {
                // display: none;
                flex-direction: column;
                position: absolute;
                top: 220%;
                // left: 50%;
                left: -100%;
                transform: translate(-50%, 0%);
                border: 0.1rem solid getColor(color02);
                border-radius: 2px;
                padding: 8rem 7rem;
                background: rgb(0, 0, 0, 0.9);
                gap: 30px;
                transition: all .5s ease;
                z-index: 2;

            }
            li {
                list-style: none;
                color: getColor(color02);
                border-bottom: 0.1rem solid transparent;
                cursor: pointer;
                @include screen5{
                    text-align: center;
                    font-size: 22px;
                }
                &:hover {
                    border-bottom: 0.1rem solid getColor(color02);
                    transition: .5s;
                }
            }
        }
        i {
            display: none;
            cursor: pointer;
            color: getColor(color02);
            font-size: 30px;
            padding: 0.6rem;
            @include screen5 {
                display: block;
            }
        }
    }
    .main-content {
        padding-top: 5rem;
        display: grid;
        align-items: center;
        justify-content: left;
        @include screen0 {
            padding-top: 4rem;
        }
        @include screen1 {
            padding-top: 3.8rem;
        }
        @include screen2 {
            padding-top: 3.6rem;
        }
        @include screen4 {
            padding-top: 4rem;
        }
        @include screen5 {
            padding-top: 3rem;
        }
        h1 {
            font-size: 80px;
            color: getColor(color02);
            width: 60%;
            margin-bottom: 2rem;
            @include screen0 {
                font-size: 70px;
                margin-bottom: 1.6rem;
            }
            @include screen1 {
                font-size: 60px;
                margin-bottom: 1.8rem;
            }
            @include screen2 {
                font-size: 55px;
                margin-bottom: 1.8rem;
            }
            @include screen4 {
                font-size: 40px;
                margin-bottom: 1.5rem;
            }
            @include screen5 {
                width: 100%;
                font-size: 40px;
                margin-bottom: 3rem;
            }
        }
        p {
            font-size: 25px;
            color: getColor(color02);
            width: 60%;
            line-height: 40px;
            @include screen0 {
                font-size: 23px;
                margin-bottom: 1.6rem;
            }
            @include screen1 {
                font-size: 22px;
                margin-bottom: 1.5rem;
            }
            @include screen2 {
                font-size: 20px;
                margin-bottom: 1.4rem;
            }
            @include screen4 {
                font-size: 19px;
                margin-bottom: 1.2rem;
            }
            @include screen5 {
                width: 100%;
                font-size: 18px;
                margin-bottom: 3rem;
            }
        }
        div {
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
            @include screen5 {
                justify-content: center;
            }
            a {
                text-decoration: none;
                border: none;
                color: getColor(color02);
                background-image: linear-gradient(30deg, #b705bd, #ee59f3);
                border-radius: 50px;
                background-size: 100% auto;
                font-family: inherit;
                font-size: 28px;
                padding: 1rem 2.5rem;
                @include screen2 {
                    font-size: 20px;
                }
                @include screen5 {
                    font-size: 22px;
                }
                @include screen6 {
                    font-size: 18px;
                }
                &:hover {
                    background-position: right center;
                    background-size: 200% auto;
                    -webkit-animation: pulse 2s infinite;
                    animation: pulse512 1.5s infinite;
                }
            }
        }
    }
}
#next-text {
    width: 100vw;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    padding: 5rem 3rem;
    gap: 1rem;
    @include screen4 {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    @include screen5 {
        padding: 3rem 1.5rem;
    }

    h3 {
        font-size: 55px;
        text-align: left;
        @include screen2 {
            font-size: 48px;
        }
        @include screen6 {
            font-size: 36px;
        }
    }
    article {
        display: grid;
        gap: 1rem;
        p {
            font-size: 24px;
            @include screen2 {
                font-size: 22px;
            }
            @include screen6 {
                font-size: 18px;
            }
        }
    }
}
#services {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3crect width='1440' height='500' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M4 500L504 0L757.5 0L257.5 500z' fill='url(%23SvgjsLinearGradient1024)'%3e%3c/path%3e%3cpath d='M352.8 500L852.8 0L1284.8 0L784.8 500z' fill='url(%23SvgjsLinearGradient1024)'%3e%3c/path%3e%3cpath d='M679.6 500L1179.6 0L1461.6 0L961.6 500z' fill='url(%23SvgjsLinearGradient1024)'%3e%3c/path%3e%3cpath d='M1433 500L933 0L712.5 0L1212.5 500z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M1067.2 500L567.2 0L165.20000000000005 0L665.2 500z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M760.4 500L260.4 0L129.89999999999998 0L629.9 500z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M1102.3453238323373 500L1440 162.34532383233721L1440 500z' fill='url(%23SvgjsLinearGradient1024)'%3e%3c/path%3e%3cpath d='M0 500L337.6546761676628 500L 0 162.34532383233721z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1024'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: getColor(color02);
    width: 100vw;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1rem;
    padding: 5rem 3rem;
    @include screen4 {
        gap: 1.8rem;
    }
    @include screen5 {
        grid-template-columns: 1fr;
        padding: 3rem 1.5rem;
    }
    .service-1 {
        border: none;
        img {
            width: 100%;
            overflow: hidden;
            border-radius: 10px;
        }
    }
    .service-2 {
        display: grid;
        justify-content: center;
        align-items: center;
        @include screen5 {
            justify-content: left;
            align-items: center;
            gap: 1rem;
        }
        h3 {
            font-size: 40px;
            @include screen3 {
                font-size: 36px;
                margin-bottom: 1rem;
            }
            @include screen4 {
                margin-bottom: 1rem;
                font-size: 32px;
            }
        }
        p {
            font-size: 24px;
            @include screen3 {
                font-size: 22px;
            }
            @include screen4 {
                font-size: 18px;
            }
            span {
                font-weight: bold;
                padding-right: 5px;
            }
        }
    }
}