.section-one {
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) ), url("../media/Shrimp-meal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    @include screen5 {
        padding: 1rem;
    }
    div {
        div {

            article {
                .intro {
                    color:getColor(color02);
                    font-size: 2.6rem;
                    padding: 2rem;
                    text-align: center;
                    @include screen4 {
                        font-size: 1.8rem;
                        padding: 1.6rem;
                    }
                    @include screen5 {
                        font-size: 1.4rem;
                        padding: 1rem;
                    }
                }
            }
        }
    }
}   
.section-two {
    height: fit-content;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3crect width='1440' height='500' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M4 500L504 0L757.5 0L257.5 500z' fill='url(%23SvgjsLinearGradient1024)'%3e%3c/path%3e%3cpath d='M352.8 500L852.8 0L1284.8 0L784.8 500z' fill='url(%23SvgjsLinearGradient1024)'%3e%3c/path%3e%3cpath d='M679.6 500L1179.6 0L1461.6 0L961.6 500z' fill='url(%23SvgjsLinearGradient1024)'%3e%3c/path%3e%3cpath d='M1433 500L933 0L712.5 0L1212.5 500z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M1067.2 500L567.2 0L165.20000000000005 0L665.2 500z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M760.4 500L260.4 0L129.89999999999998 0L629.9 500z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M1102.3453238323373 500L1440 162.34532383233721L1440 500z' fill='url(%23SvgjsLinearGradient1024)'%3e%3c/path%3e%3cpath d='M0 500L337.6546761676628 500L 0 162.34532383233721z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1024'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    div {
        color: getColor(color02);
        padding-bottom: 2rem;
        div {
            p {
                font-size: 55px;
                text-align: center;
                padding-top: 1.4rem;
                @include screen2 {
                    font-size: 48px;
                }
                @include screen6 {
                    font-size: 36px;
                }
            }
        }
        .card-wrap {
            display:grid;
            grid-template-columns: repeat(4, 1fr);
            @include screen1 {
                grid-template-columns: 1fr 1fr;
                padding: 1.4rem;
            }
            @include screen5 {
                grid-template-columns: 1fr;
                padding: 1rem;
            } 
            .card {
                margin-top: 4rem;
                border: none;
                background-color: getColor(color01);
                color: getColor(color02);
                border: none;
                border-radius: 5px;
                width: auto;
                margin: 0.4rem;
                text-align: center;
                font-size: 1rem;
                padding:1rem;
                p {
                    font-size: 26px;
                    text-align: center;
                    padding-top: 1.4rem;
                    & span {
                        color: getColor(color06);
                    }
                    @include screen2 {
                        font-size: 24px;
                    }
                    @include screen6 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
.section-three {
    width: 100%;
    min-height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) ), url("../media/platters.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    .contact-wrap {
        width: 100%;
        padding-left: 1.5rem;
        padding-bottom: 0.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        @include screen5 {
            grid-template-columns: 1fr;
            gap: 26px;
        }

        .contact-content {
            display: grid;
            align-items: center;
            justify-content: left;
            padding-left: 2rem;
            @include screen5 {
                padding-left: 0;
                justify-content: center;
            }
            .contact-heading {
                color: getColor(color02);
                font-size: 55px;
                text-align: center;
                padding-top: 1.4rem;
                @include screen2 {
                    font-size: 48px;
                }
                @include screen5 {
                    font-size: 36px;
                    text-align: center;
                }
            }
            .address {
                color: getColor(color02);
                font-size: 22px;
                text-align: left;
                padding-top: 1.4rem;
                @include screen2 {
                    font-size: 20px;
                }
                @include screen5 {
                    font-size: 18px;
                    text-align: center;
                }
            }
            .social {
                margin-top: 20px;
                img {
                    margin-right: 10px;
                    @include screen5 {
                        display: block;
                        margin-inline: auto;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .button-wrap {
            display: grid;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;

            a {
                background-color: getColor(color02);
                color: getColor(color01);
                padding:1.5rem 2.3rem;
                width: fit-content;
                align-items: right;
                text-decoration: none;
                font-size: 24px;
                border: none;
                border-radius: 3px;
                @include screen2 {
                    font-size: 21px;
                }
                @include screen6 {
                    font-size: 19px;
                    padding:1rem 1.8rem;
                }
                &:hover {
                    transition: all 0.6s ease;
                    background-color: getColor(color06);
                    color: getColor(color02);
                }
            }
        }
    } 
}